body {
  background-image: url("background.png");
  background-repeat: repeat;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:5%
}

.center-discord {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 300px
}

.center-youtube {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}