body {
  background-image: url("background.png");
  background-repeat: repeat;
}

.center {
  display: inline-block;
  margin-left: auto;
  margin-top:3%;
}

.center-line{
	text-align: center;
}

.center-discord {
  display: inline-block;
  margin-right: auto;
  margin-top:3%;
  width: 300px
}

.center-youtube {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 500px
}